{% extends "base.html" %}
{% block content %}

<h1>MOVIMIENTOS</h1>

<table role="grid" id = "movimientos">
    <thead>
        <tr>
          <th id="celda">Fecha</th>
          <th id="celda">Hora</th>
          <th id="celda">Moneda_From</th>
          <th id="celda">Cantidad_From</th>
          <th id="celda">Moneda_To</th>
          <th id="celda">Cantidad_to</th>
          <th id="celda">Precio Unitario</th>
        
    </tr>
  
  </thead>
 
  <tbody>
      
      {% for movement in data %}
      <tr>
          <td>{{ movement.Fecha }}</td>
          <td>{{ movement.Hora}}</td>
          <td>{{ movement.Moneda_from }}</td>
          <td>{{ "%.8f" | format (movement.Cantidad_from) ~ " " ~ movement.Moneda_from }}</td>
          <td>{{ movement.Moneda_to }}</td>
          <td>{{ "%.8f" | format (movement.Cantidad_to) ~ " " ~ movement.Moneda_to }}</td>
          <td>{{ "%.8f" | format (movement.PU) ~ " " ~ movement.Moneda_from}}</td>
          
      </tr>
      {% endfor %}
     
  </tbody>
</table> 
{% if data == [] %}
<p id="SM"><strong>SIN MOVIMIENTOS</strong></p>
{% endif %}

{% endblock %}  